* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;

  -webkit-box-shadow: 0px 15px 50px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 15px 50px -2px rgba(0,0,0,0.56);
  box-shadow: 0px 15px 50px -2px rgba(0,0,0,0.56);
  font-family: Garamond, Georgia, serif;
}
nav {
  position: relative;

  display: flex;
  max-width: 1024px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;

  color: #140957;
  background-color: rgb(109, 203, 247);
  opacity: 1;
}
.logo {
  height: 65px;
  border-radius: 20%;
}
nav ul {
  display: inline-block;
  vertical-align: center;
  text-align: center;
}
nav li {
  display: inline;
  margin: 5px;

  text-align: center;

  list-style: none;
}
nav li a {
  display: block;
  float: left;
  padding: 10px;

  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;
}
a:visited {
  color: #720b8b
}
a:hover {
  background-color: rgb(41, 145, 230);
  opacity: 0.7;

  transition: 0.5s;
}
nav:before {
  position: absolute;
  left: 0;
  top: 100%;

  border-top: 10px solid  rgb(109, 203, 247);
  border-right: 10px solid  rgb(109, 203, 247);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;

  content: "";

}
nav:after {
  position: absolute;
  right: 0;
  top: 100%;

  border-top: 10px solid  rgb(109, 203, 247);
  border-left: 10px solid  rgb(109, 203, 247);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;

  content: "";
}
main {
  margin: 60px 20px 20px 20px;

  font-size: 20px;

}
h1 {
  margin: 20px;
  text-align: center;
  font-size: 32px;
}

p {
  padding-top: 20px;
  text-align: justify;
}
.link-top {
  font-size: 14px;
  background-color: rgb(109, 203, 247);
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}
h2, h3 {
  margin: 20px;
}

.skills-container {
  display: grid;
  margin: 0 20px;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  align-items: top;
}
.gr {
  padding: 10px;
}
.code-container {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  align-items: end;
  grid-gap: 20px;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 20px;
  align-items: end;
}
h4 {
  text-align: center;
  margin-bottom: 10px;
}
table {
  border: 1px solid grey;
}
th, td {
  border: 1px solid grey;
  text-align: center;
  padding: 4px;
}
th {
  background-color:  rgb(109, 203, 247)
}
#education > ul {
  margin: 20px;
  line-height: 25px;
}
#education ul  a {
  text-decoration: none;
}
