* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1024px;
  margin: 0 auto;
}
nav {
  position: relative;

  max-width: 1024px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;

  color: #140957;
  background-color: rgb(109, 203, 247);
  opacity: 0.5;
}
nav li {
  display: inline;
  margin: 5px;

  text-align: center;

  list-style: none;
}
nav li a {
  display: block;
  float: left;
  padding: 10px;

  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;
  opacity: 1;  
}
a:visited {
  color: #720b8b
}
a:hover {
  background-color: rgb(41, 145, 230);
  opacity: 0.7;
  
  transition: 0.5s;
}
nav:before {
  position: absolute;
  left: 0;
  top: 100%;

  border-top: 10px solid  rgb(109, 203, 247);
  border-right: 10px solid  rgb(109, 203, 247);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
    
  content: "";

}
nav:after {
  position: absolute;
  right: 0;
  top: 100%;
  
  border-top: 10px solid  rgb(109, 203, 247);
  border-left: 10px solid  rgb(109, 203, 247);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;

  content: "";
}
main {
  margin-top: 60px;
}